# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Salida de construcción
dist/
out-tsc/
build/

# IDEs y editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Configuración de Angular CLI
.angular/
.angular-cache/

# Configuración de Angular y scripts temporales
src/environments/environment*.ts

# Archivos de logs
*.log

# Archivos de bloqueo
package-lock.json
yarn.lock

# Coverage y pruebas
coverage/
*.lcov

# Archivos específicos del OS
*.log
*.bak
*.tmp
